* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
  background-color: #2F2F2F;
  color: white;
}

.hide {
  display:none;
}

.navbar {
  background-color: #333;
  display: flex;
  color: white;
  
}


.navbar-items, .navbar {
  flex-direction: column;
}
    
.navbar-items {
  display:none;
}
    
.navbar-toggleShow {
  display: flex;
  height: 100vh;
}
    
.navbar-toggle {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 100;
  color: #808080;
  
}

@media screen and (max-width: 768px) {
  .navbar-toggle {
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
}

.navbar-items .nav-link {
    
    
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: calc(100% / 5);
    position: relative;
    font-size: 2em;
    background-color: rgba(0,0,0,.02);
    overflow: hidden;
}

.navbar-items .nav-link a {
  display: flex;
  align-items: center;
  text-align: center;
  color: #5a5a5a;
  text-decoration: none;
  margin: 65px 0;
}

.navbar-items .nav-link a span {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.fa-bars:hover,
.fa-bars:focus {
  color:white;
}

.nav-link a:hover,
.nav-link a:focus {
  color: white;
}

button:hover, button:focus {
  cursor: pointer;
  background-color: #04C2C9;
  border-color: #04C2C9;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #2F2F2F;
  border: solid 2px white;
  color: white;
}

.home {
  height: 100vh;
}

#view-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: inherit;
  
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 300;
}

.highlight {
  color: #E31B6D;
}

@media screen and (min-width: 600px) {
  h1 {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 48px;
    font-family: 'BEBAS NEUE', sans-serif;
  }

  #view-work {
    font-size: 1.2em;
  }
}

h2 {
  text-align: center;
  margin: 90px auto 0;
  text-decoration: underline;
  font-size: 2em;
}

h2, h3, h4, .nav-menu li, .filter {
  font-family: 'Lato', serif;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) {
  h2 {
    margin: 110px auto 0;
  }
}


/*about.html*/
.bio {
  line-height: 150%;
  text-align: left; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
}


.follow-me {
  position: fixed;
  left: 0;
  top: calc(50% - (275px / 2));
  width: 55px;
  height: 275px;
}

.follow-me small { 
  width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: 0.58em;
  }

.follow-icon:hover, .follow-icon:focus {
  transform: translate3d(20px,0,0);
}

.follow-icon {
  font-size: 55px;
  
}

.fa-facebook-square {
  color: #4868ad;
}

.fa-github-square {
  color: #4e545a;
}

.fa-linkedin {
  color: #0077ba;
}

@media screen and (min-width: 320px) {
  .bio {
    line-height: 130%;
    width: 95%;
    margin: 30px auto 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  .bio {
    line-height: 150%;
  }
}

@media screen and (min-width: 600px) {
  .bio {
    font-size: 1em;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  
  .follow-me {
    position: fixed;
    bottom: 35px;
    width: 100%;
    height: auto;
    top: auto;
    left: 0;
    text-align: left;
  }

  .follow-me small { 
    
    font-size: 0.7em;
    text-align: left;
    padding-left: 15px;
  }

  .follow-me li {
    display: inline-block;
  }

  .follow-icon {
    font-size: 40px;
  }

  .follow-icon:hover {
  transform: translate3d(0,0,0);
  }
}


/*projects.html*/
.filter-bar {
  margin: 50px auto;
  display: flex;
  width: 80%; 
}

.filter {
  margin: 5px auto;
  padding: 10px;
  width: 33.33%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .filter {
    font-size: 1.2em;
  }
}

.filter:hover {
  cursor: pointer;
}

.filter-active {
  color: white;
  background-color: red;
}


.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.card {
  margin: 16px 16px 64px;
  border: 1px solid white;
  max-width: 800px;
  
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container:hover .project-image {
  filter: grayscale(100%) blur(2px);
  cursor: pointer;
}

.project-image {
  width: 100%;
  max-width: 800px;
}

.view-project-hover {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: rgba(6, 59, 103, 0.3);
  font-size: 3em;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lato', serif;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .view-project-hover {
    font-size: 1.5em;
  }
}

.img-container:hover > a > .view-project-hover {
    opacity: 1;
}

.project-details {
  padding: 25px;
}

h3 {
  font-size: 1.5em;
}

.project-description {
  line-height: 150%;
}

.project-description, .code-button, .project-button {
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .project-description, .code-button, .project-button {
    font-size: 1em;
  }
  
  .code-button, .project-button {
    border: solid 1.5px;
  }
}

h3, .project-tech, .project-description {
  margin-bottom: 15px;
}

.tech-icon {
  font-size: 30px;
  color: #5a5858;
}

.code-button, .project-button {
  padding: 5px 15px;
}

/*skills.html*/
.languages, .other {
  margin: 15px auto;
  padding: 20px;
  width: 80%;
  border: solid 2px #565656;
}

.languages {
  margin-top: 50px;
}


h4 {
  font-size: 1.5em;
  border-bottom: 2px solid #565656;
  margin-bottom: 30px;
  padding-bottom: 20px;
}


.icons .icon {
  padding: 0 0.75rem;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
  
}

.logo {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  height: auto;
  max-height: 100px;
  width: 75px
}

.logo-text {
  text-align: center;
}

/*contact.html*/
.content-wrapper {
  height: 63%;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}


input, textarea, .submit-form {
  display: block;
}

.submit-form {
  margin: 10px auto 0;
  padding: 10px 30px;
  font-weight: 700;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 1em;
}

textarea {
  height: 150px;
}

.footer-icons, .footer-icons li {
  display: inline-block;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header, footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}


footer {
  padding: 15px 0;
  background-color: #404040;
}

.contact-icon {
  font-size: 45px;
}

.footnote {
  color: white;
  margin-top: 25px;
  opacity: 0.6;
  text-align: center;
  font-size: 0.8em;
}

form {
  padding: 20px;
  min-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .form-text {
    text-align: center;
    font-size: 0.8em;
    margin: 30px auto 0;
    min-width: 95%;
    padding: 0 15px;
  }

  textarea {
    height: 100px;
  }

  form {
    padding: 20px;
    min-width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .form-text {
    text-align: center;
    margin: 0 auto 10px;
    min-width: 500px;
    font-size: 1.2em; 
  }

  input, textarea {
    margin-top: 5px;
    padding: 10px 15px;
    font-size: 1.2em;
    margin: 0 auto;
  }

  textarea {
    height: 150px;
  }

  footer {
    padding: 50px 0;
  }

  .contact-icon {
    font-size: 60px;
  }
}

@media screen and (min-width: 800px) {

  .submit-form {
    font-size: 1.2em;
  }
}